<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deehow.mapper.DsProjectTypeMapper">



	<select id="selectIdPage" resultType="java.lang.Long">
		select id_ from ds_project_type
		<where>
			<if test="cm.enable != null and cm.enable != ''">
				 and ds_project_type.enable_ = #{cm.enable}
			</if>
			<if test="cm.fromTime != null and cm.fromTime != ''">
				 and ds_project_type.create_time >= #{cm.fromTime}
			</if>
			<if test="cm.toTime != null and cm.toTime != ''">
				 and ds_project_type.create_time &lt;= #{cm.toTime}
			</if>
			<if test="cm.keyword != null and cm.keyword != ''">
				and (
					or name_ like CONCAT('%',#{cm.keyword},'%')
				)
			</if>

			<if test="cm.name != null and cm.name != ''">
				and ds_project_type.name_ = #{cm.name}
			</if>
		</where>
	</select>
</mapper>
